<div class="header" *ngIf="isLoggedIn">
    <div class="menu_left">
        <a class="name_program" href = "/#/">
                Tasker
        </a>
        <div class="date_header">
            <div class="logo_date">
                <img src="../../assets/images/calendar.svg" alt="">
            </div>
            <div class="date">
                03/05/2021
            </div>
    </div>
    </div>
    <div class="menu">
        <a href="/#/profile">Профиль</a>
        <a href="/#/login">Авторизация</a><a href=""></a>
        <a href="/#/settings">Настройки</a><a href=""></a>
    </div>
</div>
