<div class="header">
    <div class="menu_left">
        <div class="name_program">
                Tasker
        </div>
        <div class="date_header">
            <div class="logo_date">
                logo
            </div>
            <div class="date">
                03/05/2021
            </div>
    </div>
    </div>
    <div class="menu">
        <a href="/#/profile">Профиль</a>
        <a href="/#/login">Авторизация</a><a href=""></a>
        <a href="/#/settings">Настройки</a><a href=""></a>
    </div>
</div>
