<div class="create_task">
  <div class="window_task">
    <input type = "text" placeholder="Заголово задачи" id="header_task">
    <label for="body_task">Основной текст задачи</label>
    <textarea cols="40" rows="3" placeholder="Основной текст задачи" id="body_task" ></textarea>
    <label for="date_end">Дата сдачи</label>
    <input type = "date" placeholder="Окончание задачи" id="date_end">
    <select>
      <option  label = "Разработка">
      <option  label = "Дизайн">
      <option  label = "Бизнесс аналитика">
      <option  label = "Анализ">
    </select>
  </div>
</div>
