<div class="profile">
  <div class="profile_form">
    <div class = "profile__name">
      Профиль
    </div>
    <div class="profile__username prof__div">
       <div class="desc">
        Логин:
      </div>
      <div class="name_desc">
        {{contactData.username}}
      </div>
    </div>
    <div class="profile__fullname prof__div">
      <div class="desc">
        Полное имя:
      </div>
      <div class="name_desc">
        {{contactData.firstName}} {{contactData.lastName}}
      </div>
    </div>
    <div class="profile__email prof__div">
      <div class="desc">
        Email:
      </div>
      <div class="name_desc">
        {{contactData.email}}
      </div>
    </div>
    <div class="profile__work prof__div">
      <div class="desc">
        Должность:
      </div>
      <div class="name_desc">
        {{contactData.work}}
      </div>
    </div>
    <div class="buttons_profile">
      <button mat-raised-button class="delete_contact">Сменить пароль</button>
      <button mat-raised-button class="back_button" (click)="returnContact()">Назад</button>
    </div>
  </div>
</div>
