.profile{
  max-width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

}
.profile_form{
  width: 40%;
  height: 50vh;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  background-color: #FFFFFF;
}
.prof__div{
  display: flex;
  flex-direction:  row;
  font-size: 1.3vw;
  margin-bottom: 3%;
  width: 80%;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.desc{
  text-align: end;
  width: 40%;
}
.profile__name{
  margin-top: 4%;
  border-bottom: 3px solid #4564ca;
  text-align: center;
  width: 80%;
  color: #4564ca;
}
.profile__username{
  margin-top: 6%;
}
.name_desc{
  color: #4564ca;
  margin-left: 6%;
}
.change__button{
  width: 30%;
  font-size: 1vw;
  color: #ffffff;
  background: #4564ca;
  margin-top: 5%;
}

.delete_contact {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #1565C0;
  width: 35%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.back_button {
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #1565C0;
  width: 35%;
  border: 0;
  height: 70%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons_profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
