<div class="profile">
    <div class="profile_form">
        <div class = "profile__name">
            Профиль
        </div>
        <div class="profile__username prof__div">
            <div class="desc">
                Логин:
            </div>
            <div class="name_desc">
                jender
            </div>
        </div>
        <div class="profile__fullname prof__div">
            <div class="desc">
                Полное имя:
            </div>
            <div class="name_desc">
                Джангоев Ростислав
            </div>
        </div>
        <div class="profile__email prof__div">
            <div class="desc">
                Email:
            </div>
            <div class="name_desc">
                frodlycin@gmail.com
            </div>
        </div>
        <div class="profile__roles prof__div">
            <div class="desc">
                Роль:
            </div>
            <div class="name_desc">
                Пользователь
            </div>
        </div>
        <button mat-raised-button class = "change__button">Сменить пароль</button>
    </div>
</div>
