.statistic_body{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 2%;
}
.span__element{
  grid-column: span 2;
}
.element__statistic{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20pt;
  background: #FFFFFF;
  font-weight: bolder;
  height: 25vh;
}
.tittle {
  margin-bottom: 2%;
  font-size: 30pt;
}
