<div class="statistic_body">
  <div class="row_statistic">
    <div class="element__statistic">
      <div class="tittle">Выполненные задания</div>
      <div class="statistic">{{dataSource.countCompleteTask}}</div>
    </div>
    <div class="element__statistic">
      <div class="tittle">Отмененные задания</div>
      <div class="statistic">0</div>
    </div>
  </div>
  <div class="row_statistic">
    <div class="element__statistic">
      <div class="tittle">Выданые задачи</div>
      <div class="statistic">{{dataSource.countGetTask}}</div>
    </div>
    <div class="element__statistic">
      <div class="tittle">Отправленные</div>
      <div class="statistic">{{dataSource.countSendTask}}</div>
    </div>
  </div>
  <div class="row_statistic">
    <div class="element__statistic">
      <div class="tittle">Дизайн</div>
      <div class="statistic">{{dataSource.countDesignTask}}</div>
    </div>
    <div class="element__statistic">
      <div class="tittle">Разработка</div>
      <div class="statistic">{{dataSource.countDevelopTask}}</div>
    </div>
    <div class="element__statistic">
      <div class="tittle">Анализ</div>
      <div class="statistic">{{dataSource.countAnalyseTask}}</div>
    </div>
    <div class="element__statistic">
      <div class="tittle">Бизнесс аналитика</div>
      <div class="statistic">{{dataSource.countBusinessTask}}</div>
    </div>
  </div>
</div>
